extends ../../layouts/master
block content
  .btn-toolbar(role='toolbar')
    .btn-group(role='group')
      a.btn.btn-default(href='/apts/new'): i.fa.fa-plus

  h3 Apartment Rooms Available

  #apts
    each apt in apts
      .apt
        .panel.panel-default
          .panel-heading
            h3.panel-title: a(href='/apts/#{apt._id}')= apt.name
          .panel-body
            dl
              dt Name
              dd= apt.name
              dt No. of Bedrooms
              dd= apt.bedrooms
              dt Sq. Ft.
              dd= apt.sqft
              dt Rent
              dd= apt.rent
            .photo(style='background-image:url("'+ apt.photo +'")')
