extends ../../layouts/master
block content
  .btn-toolbar(role='toolbar')
    .btn-group(role='group')
      a.btn.btn-default(href='/apts'): i.fa.fa-building
    .btn-group(role='group')
      a.btn.btn-default(href='/apts/#{apt._id}/edit'): i.fa.fa-pencil-square-o
    .btn-group(role='group')
      form(method='post', action='/apts/#{apt._id}/delete')
        button.btn.btn-danger(type='submit'): i.fa.fa-times

  h3 Detail View

  .page-header
    h4= apt.name
    .photo(style='background-image:url("'+ apt.photo +'")')
  
  table.table
    thead
      tr
        th Square Ft.
        th No. of Bedrooms
        th No. of Vacancies
        th Rent
    tbody
      tr
        td= apt.sqft
        td= apt.bedrooms
        td=vacancies(apt)
        td= apt.rent
  if(vacancies(apt))
    h3 Fill Vacancy
    form.form-inline(method='post', action='/apts/#{apt._id}/occupy')
      .form-group
        select#renterId.form-control.input-sm(name='renterId')
          each renter in renters
            if(isHomeless(renter))
              option(value=renter._id)= renter.name
      .form-group
        button.btn.btn-primary.btn-sm(type='submit') Occupy
