extends ../../layouts/master
block content
  h3 Admin Info
  dl
    dt Total Apartments:
    dd= apts.length
    dt Fully Occupied Apartments:
    dd= fullApts
    dt Total Rooms
    dd= totalRooms
    dt Occupied Rooms
    dd= occupiedRooms
    dt Total Revenue
    dd= revenue
    